.blocoinformacao {
        border: 3px solid rgb(255, 255, 255); /* Cor e largura da borda */
        padding: 25px; /* Espaçamento interno */
        width: 360px; /* Largura do bloco de texto */
        border-radius: 30px; /* Borda arredondada (opcional) */
        margin: 0 auto;
    }
    .nome {
        font-size: 15px;
        font-family: serif;
        box-shadow: 0 8px 8px 0 rgb(97, 13, 231);
        color: white;
        width: 300px; /* aumenta ou diminui o tamanho horizontal da cor de fundo*/
        height: 25px; /* aumenta ou diminui o tamanho vertical da cor de fundo */
        text-align: center; /* centraliza o texto  */
        border-radius: 30px;
        }
    .datanascimento {
        font-size: 15px;
        font-family: serif;
        color: white;
        width: 300px; 
        height: 25px;
        text-align: center;
        box-shadow: 0 8px 8px 0 rgb(97, 13, 231);
        border-radius: 30px;
    }
    .curso {
        font-size: 15px;
        font-family: serif;
        color: white;
        width: 300px; 
        height: 25px;
        text-align: center;
        box-shadow: 0 8px 8px 0 rgb(97, 13, 231);
        border-radius: 30px;
    }
    .sobre {
        font-size: 15px;
        font-family: serif;
        color: white;
        width: 300px; 
        height: 25px;
        text-align: center; 
        box-shadow: 0 8px 8px 0 rgb(97, 13, 231);
        border-radius: 30px;
        }
    .conhecimento {
        font-size: 15px;
        font-family: serif;
        color: white;
        width: 310px; 
        height: 125px;
        text-align: center;
        box-shadow: 0 8px 8px 0 rgb(97, 13, 231);
        border-radius: 30px;
    }
    .corpo {
        background-color: black;
        margin: 25px;
    }
    .legenda {
        color: white;
        }
    .tituloinformacao {
        color: white;
        font-size: 25px;
        font-family: serif;
    }
    .github {
        color: white;
        font-size: 15px;
        width: 150px;
        height: 60px;
        margin: 80px;
        float: left;
    }
    .whatsapp {
        color: white;
        font-size: 15px;
        width: 150px;
        height: 60px;
        margin: 80px;
        float: left;
    }
    .linkedin {
        color: white;
        font-size: 15px;
        width: 170px;
        height: 60px;
        margin: 80px;
        float: left;
    }

    /*estilos básicos */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

     /*Estilos do menu*/
    .menu {
        background-color: rgb(132, 39, 175);
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    .logo img {
        width: 50px; /* Largura da imagem */
        height: auto; /* Altura automática*/
        margin-right: 10px;
        vertical-align: middle;
    }
    .menu ul {
        list-style: none;
        display: flex;
    }
    .menu ul li {
         margin-right: 20px;
    }
    /* Estilos do link de contato */
    .contato {
        background-color: #070707;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .contato a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
