.blocoinformacao {
        border: 3px solid rgb(255, 255, 255); /* Cor e largura da borda */
        padding: 25px; /* Espaçamento interno */
        width: 360px; /* Largura do bloco de texto */
        border-radius: 30px; /* Borda arredondada (opcional) */
        margin: 0 auto;
    }
    .nome {
        font-size: 15px;
        font-family: serif;
        box-shadow: 0 8px 8px 0 rgb(74, 10, 179);
        color: white;
        width: 300px; /* aumenta ou diminui o tamanho horizontal da cor de fundo*/
        height: 25px; /* aumenta ou diminui o tamanho vertical da cor de fundo */
        text-align: center; /* centraliza o texto  */
        border-radius: 30px;
    }
    .datanascimento {
        font-size: 15px;
        font-family: serif;
        color: white;
        width: 300px; 
        height: 25px;
        text-align: center;
        box-shadow: 0 8px 8px 0 rgb(74, 10, 179);
        border-radius: 30px;
    }
    .curso {
        font-size: 15px;
        font-family: serif;
        color: white;
        width: 300px; 
        height: 25px;
        text-align: center;
        box-shadow: 0 8px 8px 0 rgb(74, 10, 179);
        border-radius: 30px;
    }
    .sobre {
        font-size: 15px;
        font-family: serif;
        color: white;
        width: 300px; 
        height: 25px;
        text-align: center; 
        box-shadow: 0 8px 8px 0 rgb(74, 10, 179);
        border-radius: 30px;
    }
    .conhecimento {
        font-size: 15px;
        font-family: serif;
        color: white;
        width: 310px; 
        height: 125px;
        text-align: center;
        box-shadow: 0 8px 8px 0 rgb(74, 10, 179);
        border-radius: 30px;
    }
    .corpo {
        background-color: black;
        margin: 25px;
    }
    .legenda {
        color: white;
    }
    .tituloinformacao {
        color: white;
        font-size: 20px;
        font-family: serif;
    }
    /*estilos básicos */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

     /*Estilos do menu*/
    .menu {
        background-color: rgb(74, 10, 179);
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    .logo {
        width: 115px; /* Largura */
        height: auto; /* Altura automática*/
        margin-right: 10px;
        vertical-align: middle;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        box-shadow: 0 8px 8px 0 rgb(5, 5, 5);
        border-radius: 60px;
        text-align: center; 
    }
    .menu ul {
        list-style: none;
        display: flex;
    }
    /* Estilos do link do menu */
    .contato {
        background-color: #070707;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .contato a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .experiencia {
        background-color: #070707;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .experiencia a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    
    .habilidade {
        background-color: #070707;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .habilidade a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .conteudo {
        background-color: #070707;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .conteudo a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    /* Habilidades */
    .skillsgeral {
        color: white;
        margin: 10px;
        font-size: 15px;
        width: 120px;
        height: 180px;
    }
    .skillsimg{

    }
    .primeiraskills {

    }
    .segundaskills {

    }
    .terceiraskills {

    }
    .quartaskills {

    }
    /* Rodapé */
    .rodape {
        background-color: rgb(74, 10, 179);
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        margin-right: 10px;
    }
    .github {
        color: white;
        font-size: 10px;
        width: 150px;
        height: 60px;
        float: left;
        margin: 10px;
    }
    .whatsapp {
        color: white;
        font-size: 10px;
        width: 150px;
        height: 60px;
        float: left;
        margin: 10px;
    }
    .linkedin {
        color: white;
        font-size: 10px;
        width: 170px;
        height: 60px;
        float: left;
        margin: 10px;
    }
