/*estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

/* estilos dos titulos */

.interfaceforms {
    align-items: center;
    text-align: center;
    margin: 20px;
}
.titulo {
    color: #fff;
}
.interfaceforms .titulo span {
    color: rgb(29, 69, 177);
}

/* Estilos do cabeçalho */
header{
    padding: 40px 4%;
}
header > .menu {
    margin: 2 auto;
    max-width: 1800px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-bottom: 100px;
}
header a{
    color: #ffffffab ;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    padding: 0 50px;
}
.logo {
    width: 1px; /* Largura */
    height: auto; /* Altura automática*/
    vertical-align: middle;
    
}
.logo img {
    width: 200px;
    height: auto;
}
header .btcontato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(29, 69, 177);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
}
header .btcontato button:hover {
    box-shadow: 0px 0px 8px rgb(35, 85, 223);
}

/* Sobre - Informações importantes no Site */
.blocoinformacao {
    border: 2px solid rgb(255, 255, 255); /* Cor e largura da borda */
    padding: 30px; /* Espaçamento interno */
    width: 415px; /* Largura do bloco de texto */
    border-radius: 50px; /* Borda arredondada (opcional) */
    margin: 0 auto;
}
.blocoinformacao:hover {
    box-shadow: 0px 0px 8px rgb(35, 85, 223);
}
.inf {
    font-size: 15px;
    font-family: serif;
    box-shadow: 0 8px 8px 0 rgb(29, 69, 177);
    color: white;
    width: 355px;
    height: 25px;
    text-align: center;
    border-radius: 30px;
}
.nome {
    font-size: 15px;
    font-family: serif;
    box-shadow: 0 8px 8px 0 rgb(29, 69, 177);
    color: white;
    width: 355px;
    height: 25px;
    text-align: center; /* centraliza o texto  */
    border-radius: 30px;
}

.datanascimento {
    font-size: 15px;
    font-family: serif;
    color: white;
    width: 355px; 
    height: 25px;
    text-align: center;
    box-shadow: 0 8px 8px 0 rgb(29, 69, 177);
    border-radius: 30px;
}
.curso {
    font-size: 15px;
    font-family: serif;
    color: white;
    width: 355px; 
    height: 25px;
    text-align: center;
    box-shadow: 0 8px 8px 0 rgb(29, 69, 177);
    border-radius: 30px;
}
.sobre {
    font-size: 15px;
    font-family: serif;
    color: white;
    width: 355px; 
    height: 25px;
    text-align: center; 
    box-shadow: 0 8px 8px 0 rgb(29, 69, 177);
    border-radius: 30px;
}
.conhecimento {
    font-size: 15px;
    font-family: serif;
    color: white;
    width: 355px; 
    height: 90px;
    text-align: center;
    box-shadow: 0 8px 8px 0 rgb(29, 69, 177);
    border-radius: 30px;
}
.imgperfil {
    display: flex;
    justify-content:center;
    height: 40vh;
}
.imagemperfil {
    width: 130px;
    height: 130px;
    border-radius: 100%; /* Para criar a borda redonda */
    overflow: hidden; /* Garante que a imagem não ultrapasse a borda */
    margin-right: 0px; /* Espaço entre a imagem e as informações */
    box-shadow: 0 0 15px rgb(29, 69, 177); /* Adiciona uma sombra suave */
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}
.imagemperfil img{
    width: 200px;
    height: auto; 
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}

/* Habilidades */
.skillsgeral {
    color: white;
    margin: 100px;
    font-size: 15px;
    padding: 40px 4%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    float: left;
}
.skillsimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    box-shadow: 0 0 10px rgb(29, 69, 177);
    align-items: center;
    float: left;
    margin-right: 10px;
    
}
.txt {
    text-align: center;
    color: #fff;
    font-size: 15px;
    
}
.skillsimg img {
    width: 155px;
    height: auto;
}
.skillsimg:hover {
    box-shadow: 0px 0px 8px rgb(35, 85, 223);
}

/* Projeto */

.interface {
    align-items: center;
    text-align: center;
    margin: 20px;
}
.interface span {
    color: rgb(29, 69, 177);
}
.flex{
    display: flex;
}
.img-projeto{
    display: flex;
    height: 50vh;
}
section.projeto {
    padding: 40PX 4%;
}
section.projeto .flex{
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.txt-projeto{
    color: #fff;
    width: 800px;
    height: auto;
}
.projeto .txt-projetop p{
    text-align: justify;
}
.projeto .txt-projeto h2{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 20px;
}
.projeto .txt-projeto h2 span{
    color: rgb(35, 85, 223);
    display: block;
}

/* FALA COMIGO - CONTATO */
section.formulario {
    padding: 80px 4px;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px; /* espaço entre itens */ 
}
form input, form textarea{
    width: 100%;
    background-color: #363636 ;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 200px;
}
form .btn-enviar{
    margin-top: 20px;
    text-align: center;

}
form .btn-enviar input {
    width: 120px;
    background-color: rgb(29, 69, 177);
    color: black;
    font-weight: 700;
    cursor: pointer;
}
form .btn-enviar input{
    box-shadow: 0 3px 3px 0px rgb(250, 251, 252);
    transform: scale(1.05);
}

/* Rodapé */

.interfacerodape {
    max-width: 1280px;
    margin: 0 auto;

}
footer {
    padding: 40px 4%;
    box-shadow: 0 0 60px 20px rgb(29, 69, 177);
}
footer .flex {
    justify-content: space-between;
}
.logo-footer {
    display: flex;
    justify-content:center;
    height: 10vh;
    line-height: 10px;
    
}
footer .line-footer p a{
    color: #fff;

}
/* icones */
.icons {
    width: 100px;
    height: 0px;
    float: left;
    margin-top: 50px;
    margin-left: 150px;
    
}
.icons img {
    padding: 10px 2%;
    width: 40px;
    height: auto;
    margin: 0 20px;
}